<main ng-app="myApp">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Tech Trend</h2>
      <span flex></span>
      <md-button href="#/">
        Summary
      </md-button>
      <md-button href="#/skill-analyzer">
        Skill analyzer
      </md-button>
      <md-button href="#/compare">
        Compare
      </md-button>
 <!--      <md-button>
        Skill Comparer
      </md-button>
      <md-button>
        Stack analyzer
      </md-button> -->
    </div>
  </md-toolbar>

  <div class="view-container">
    <div ng-view class="view-frame animate-view"></div>
  </div>
</main>








