<main ng-app="test">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>TechTracker</h2>
      <span flex></span>
      <md-button>
        Summary
      </md-button>
      <md-button>
        Skill analyzer
      </md-button>
      <md-button>
        Skill Comparer
      </md-button>
      <md-button>
        Stack analyzer
      </md-button>
    </div>
  </md-toolbar>

  <div class="view-container">
    <div ng-view class="view-frame animate-view"></div>
  </div>
</main>








