<main ng-app="test">
  <md-toolbar>
    <h2 class="md-toolbar-tools">
      <span>TechTracker</span>
    </h2>
  </md-toolbar>

  <div class="container-fluid" ng-controller="Summarizer">
    <br/>
    <div class="alert alert-info">
      <div layout="row">
        <h4>We help you choose which engineering skills to learn.</h4>
      </div>
      <div layout="row">
        <ul>
          <li>See salaries for a skill, or combination of skills.</li>
          <li>See which skills are trending, and which are becoming obsolete.</li>
          <li>See the types of companies that want particular skills.</li>
        </ul>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-sm-6">
        <div class="input-group">
          <input class="form-control"
            type="text"
            placeholder="Enter a skill"
            autofocus
            ng-model="skill">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="getSkillSummary()">
              Summarize
            </button>
          </span>
        </div>
      </div>
    </div>

    <br/>
    <div class="row" ng-if="summary">
      <div class="col-sm-12">
        <h1>Summary for {{summary.skill}}</h1>
        <h3>Jobs</h3>
        <div>
          Total Jobs: {{summary.total_jobs}}
        </div>
        <div>
          New jobs this week: {{summary.new_jobs_this_week}}
        </div>
        <hr/>
        <h3>Salaries</h3>
        <div>
          Avg Min Salary: {{summary.med_min_salary.toLocaleString('en-US', { style: 'currency', currency: 'USD' });}}
        </div>
        <div>
          Avg Max Salary: {{summary.med_max_salary.toLocaleString('en-US', { style: 'currency', currency: 'USD' });}}
        </div>
        <graph data="graphData" width="100%" height="300px">
          <x field="bucket"></x>
          <y field="job_count"></y>
          <bar field="bucket"></line>
        </graph>
        <hr/>
        <h3>Companies</h3>
      </div>
    </div>
  </div>
</main>








