<nav class="navbar navbar-default" id="topNav" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">
      TechTracker
    </a>
  </div>
</nav>

<div class="container-fluid" ng-app="test">
  <div class="alert alert-info">
    <h4>We help you choose which engineering skills to learn.</h4>
    <md-button>test</md-button>
    <ul>
      <li>See salaries for a skill, or combination of skills.</li>
      <li>See which skills are trending, and which are becoming obsolete.</li>
      <li>See the types of companies that want particular skills.</li>
    </ul>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="skill">Hello, {{skill}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Enter a skill" autofocus ng-model="skill">
            <button class="btn btn-primary">Add</button>
          </div>
        </div>
      </form>
      <div class="skillContainer">
      </div>
    </div>
  </div>
</div>
