<main class="bluePage">
  <div class="container">
    <nav class="row topNav">
      <span class="logo"><b>Tech</b>Trend<span class="lightPink">.io</span></span>
      <div class="pull-right loginButtons">
        <a href="/#/summary">Summary</a>
        <a href="/#/skill-analyzer">Skill Analyzer</a>
        <a href="/#/compare">Compare</a>
      </div>
    </nav>
  </div>

  <div class="container">
    <section class="row titleSection text-center">
      <h1>Job market trends for coding languages.</h1>
      <a href="/#/summary" class="hollowBtn">View Market Summary</a>
      <br/>
      <br/>
      <p>
        TechTrend collects and analyzes job market data for coding skills.
        <br/>
        For each language, we calculate number of job opportunities, salary change over time, and more.
      </p>
    </section>
  </div>

  <div class="middleHero">
    <div class="heroContainer">
      <div class="hero text-center clearfix">
        <a href="/#/summary" class="item orange text-center">
          <div class="innerItem">
            <img src="info.png" height="120" />
            <h4>Overview</h4>
          </div>
        </a><a href="/#/skill-analyzer" class="item green text-center">
          <div class="innerItem">
            <img src="find.png" height="120" />
            <h4>Search</h4>
          </div>
        </a><a href="/#/compare" class="item yellow text-center">
          <div class="innerItem">
            <img src="edit.png" height="120" />
            <h4>Compare</h4>
          </div>
        </a><div class="item pink text-center">
          <div class="innerItem">
            <img src="heart.png" height="120" />
            <h4>Code!</h4>
          </div>
        </div>
      </div>
    </div>

    <section class="arrowUnitTop"></section>
    <section class="arrowUnitBottom"></section>
  </div>

  <br/>
  <br/>

  <footer class="text-center">
    <a href="#">About</a>
    <a href="#">FAQ</a>
    <a href="#">Contact</a>
  </footer>
</main>
