<div class="container-fluid">
  <h1>Summary</h1>

  <h2>Skill Frequencies - Top 50</h2>
  <graph data="skillFrequencies" width="100%" height="300px">
    <x field="name"></x>
    <y field="skill_occurrences"></y>
    <bar field="skill_occurrences"></bar>
  </graph>

  <h2>Skill Frequency vs. Salary</h2>
  <graph data="frequencyVsSalary" width="100%" height="600px">
    <x field="skill_frequency" type="Measure"></x>
    <y field="avg_salary" type="Measure"></y>
    <!-- plot all of Aperture's SKU's against profit and sales
         'series' is the data you'd like to plot on the graph -->
    <scatter-plot field="skill_name"></scatter-plot>
  </graph>
</div>
